* {
  --title-font: "Oxanium", Helvetica, Arial, sans-serif;
  --body-font: "Manrope", Helvetica, Arial, sans-serif;
  --body-font-weight: 500;
  --border-default: solid 1px rgba(30, 30, 30, 1);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-dark-1: #010314;
  --bg-dark-1-rgb: 1, 3, 20;
  --bg-dark-2: #0F101E;
  --bg-dark-3: #303030;
  --body-font-color: #4C5671;
  --dark-body-font-color: #92939e;
  --gradient-text: 0deg,#888888 0%, #ffffff 75%;
  --swiper-theme-color: var(--secondary-color);
}

:root {
  --primary-color: #5623d8;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #6a79fa;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #e615af;
  --tertiary-color-rgb: rgba(230, 21, 175, 1.0);
}

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: var(--bg-dark-1);
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: var(--body-font-weight);
  color: var(--body-font-color);
  padding: 0;
  line-height: 1.8em;
  word-spacing: 0px;
  letter-spacing: -0.2px;
}

.dark-scheme {
  color: var(--dark-body-font-color);
}

body.dark-scheme {
  background: var(--bg-dark-1);
}

.bigHeader {
  font-size: 20px;
  font-weight: 1000;
}
.bigHeader::before {
  display: none;
}

.bigHeader::after {
  display: none;
}

section.jarallax {
  padding: 90px 0 0 0 !important;
}

section.console_header {
  padding: 60px 0 0 0 !important;
}

.d-price {
  color: white;
  text-shadow: 4px 3px 26px #000000;
}

.de-item .s2 {
  background-color: black !important;
}

.d-text h4 {
  background: none !important;
  -webkit-text-fill-color: initial !important;
  -webkit-background-clip: initial !important;
  text-shadow: 4px 3px 26px #000000;
}

.createServer_dialog {
  top: 0;
  width: 100%;
  height: 100svh;
  position: fixed;
  display: none;
  overflow: auto;
  justify-content: center;
  z-index: 999999999;
  backdrop-filter: blur(1px) brightness(0.8);
}

.createServer_dialog_inner {
  width: 90%;
  border-radius: 20px;
  background: var(--bg-dark-2);
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-block: 5%;
  gap: 16px;
  filter: drop-shadow(2px 4px 6px black);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  animation: popIn 220ms ease-out;
}

.createServer_dialog_inner form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createServer_dialog_inner form button {
  width: 16em;
  padding: 6px 12px;
  border-radius: 10px;
}

.createServer_server_details {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 16px;
}

.createServer_image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.createServer_details_div {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2px;
}

.createServer_details_link {
  display: flex;
  flex-direction: column;
  padding-block: 4px;
  gap: 5px;
}
.createServer_details_link a {
  line-height: 1.2;
}
.createServer_details_link a:before {
  content: '•';
  color: white;
  margin-right: 5px;
}

.serverCreate_resources_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 6px;
  gap: 8px;
}
.serverCreate_resources_div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 6px;
  padding: 2px 18px;
  font-size: 16px;
  cursor: pointer;
  gap: 8px;
}

.server-item {
  animation: popScale 350ms ease-out;
}

.server_details_mainbox {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.server_console_form {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: black;
  filter: drop-shadow(2px 4px 6px black);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.server_console_form .server_console_window {
  height: 100%;
  padding: 10px 16px;
}

.server_console_form input {
  width: 100%;
  height: 3.8em;
  padding: 10px;
  padding-top: 6px;
  outline: none;
  color: white;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.1);
}

.server_details_div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 22em;
  gap: 8px;
}

.server_resources_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  filter: drop-shadow(2px 4px 6px black);
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, .05);
  border: 1px solid var(--bs-dark);
}

.server_resources_title {
  font-size: 16px;
  line-height: 1.5;
}
.server_resources_value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.server_resources_value span {
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgb(255 255 255 / 85%);
}
.server_resources_value button {
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: var(--bg-dark-1);
  border: 1px solid var(--bs-dark);
  color: var(--bs-cyan);
  font-size: 20px;
  filter: drop-shadow(2px 4px 6px black);
}
.server_resources_max {
  font-size: 15px;
  color: var(--bs-gray);
}

.server_control_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 14px;
  flex-wrap: wrap;
  gap: 10px;
}

.server_control_status {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.server_control_status i {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.server_control_div div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.server_control_div div button {
  border: none;
  color: white;
  cursor: pointer;
  padding: 2px 24px;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--bg-dark-2);
}

header.header-mobile .btn-main {
  display: inline-block !important;
}

.xterm .xterm-cursor {
  display: none !important;
}
.xterm {
  height: 100% !important;
  background-color: transparent !important;
}
.xterm .xterm-viewport::-webkit-scrollbar {
  display: none;
}

@keyframes popScale {
  0% {
    scale: 0.2;
    transform: translateY(-150px) skew(10px);
  }
  100% {
    scale: 1;
    transform: translateY(0);
  }  
}

@media (max-width: 980px) {
  .serverControl .container {
    max-width: 100% !important;
  }
  .server_details_mainbox {
    flex-direction: column;
  }
  .server_details_div {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .createServer_server_details {
    align-items: center;
    flex-direction: column;
  }
  .createServer_details_div {
    padding: 0;
  }
  .createServer_image {
    width: 180px;
    height: 180px;
  }
  .createServer_dialog_inner {
    align-items: center;
  }
  .createServer_dialog_inner form button {
    width: 100%;
  }
  .server_control_div {
    flex-direction: column;
    align-items: flex-start;
  }
  .server_control_div div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}